= link_to("Questionnaires list into div", questionnaire_generator.questionnaires_path , remote: true)
= link_to("Questionnaires list html", questionnaire_generator.questionnaires_path)

.questionnaires_list

.questions_list
