<!DOCTYPE html>
<html>
<head>
  <title>QuestionnaireGenerator</title>
  <%= stylesheet_link_tag    "questionnaire_generator/application" %>
  <%= javascript_include_tag "questionnaire_generator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
